@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #e5e5e5;
  --primary: #00d4ff;
  --secondary: #737373;
  --light-background: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e5e5e5;
    --primary: #00d4ff;
    --secondary: #737373;
    --light-background: #1a1a1a;
  }
}


.site-header {
  background: var(--background);
  color: var(--foreground);
  padding-left:16;
  padding-top:16;
  
} 

/* Fallback using the custom --vh variable */
.full-height {
  height: calc(var(--vh, 1vh) * 100);
}

/* Use native dynamic viewport height if supported */
@supports (height: 100dvh) {
  .full-height {
    height: 100dvh;
  }
}