 @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:  #4c361b;
  --foreground: #ffffff;
  --primary: #FF9500;
  --secondary: #ABB2BF;
  --header-background: #B18248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  #4c361b;
    --foreground: #ffffff;
    --primary: #FF9500;
    --secondary: #ABB2BF;
    --header-background: #B18248;
  }
}


.site-header {
  background: var(--background);
  color: var(--foreground);
  padding-left:16;
  padding-top:16;
  
} 

/* Fallback using the custom --vh variable */
.full-height {
  height: calc(var(--vh, 1vh) * 100);
}

/* Use native dynamic viewport height if supported */
@supports (height: 100dvh) {
  .full-height {
    height: 100dvh;
  }
}